
<form action="/profile/{{user.username}}" method="POST">


    <section id="profile" class="text-center fw-bold mb-5 display-5">
        <h2 class="text-center fw-bold mb-5 display-5">Profile</h2>
        <div id="username">
            <h2>{{user.username}}</h2>
        </div>
        <img id="house-photo" src="{{user.housePhoto}}" alt="House Photo">
        <h3>{{user.house}}</h3>
        <div>
            <div>
                <h3 id="spells-heading">SPELLS: {{selectedSpells}}</h3>
            </div>
            <select name="spells" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {{!-- <option selected>Spells</option> --}}
                {{#each spells}}
                <option value="{{this.attributes.name}}">{{this.attributes.name}}</option>
                {{/each}}
            </select>

        </div>
        <div>
            <div>
                <h3 id="wand-heading">WAND: {{selectedWandWood}} - {{selectedWandCore}}</h3>
            </div>
            <label for="wood">Choose wood:</label>
            <select id="wood" name="wood" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {{!-- <option selected>Wood</option> --}}
                {{#each wandWood}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <label for="core">Choose core:</label>
            <select id="core" name="core" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {{!-- <option selected>core</option> --}}
                {{#each wandCore}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <div>
                <h3 id="patronus-heading">PATRONUS: {{selectedPatronus}}</h3>
            </div>
            <select id="patronus" name="patronus" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
             {{!--    <option selected>Patronus</option> --}}
                {{#each patronus}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <div>
                <h3 id="creature-heading">CREATURE: {{selectedCreature}}</h3>
            </div>
            <select name="creature" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {{!-- <option selected>Creature</option> --}}
                {{#each creature}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <div>
                <h3 id="item-heading">ITEM: {{selectedItem}}</h3>
            </div>
            <select name="item" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                {{!-- <option selected>Item</option> --}}
                {{#each item}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>

    </section>
    <button type="submit">Save Profile</button>
</form>

<a class="btn btn-primary text-center" href="/welcome"> Back</a>


<script>
    function updateCategory(value, category) {
        const headingId = `${category}-heading`;
        const headingElement = document.getElementById(headingId);
        headingElement.textContent = `${category.toUpperCase()}: ${value}`;
    }

</script>