<div class="text-center fw-bold mb-5 display-5">
<h1 class="fw-bold mb-5 display-5">Spells</h1>



<div>
{{#each spells}} 
  
    <h3>{{this.attributes.name}}</h3>

    <ul>
    {{!-- <li>{{this.attributes.category}}</li> --}}
    <li>{{this.attributes.effect}}</li>
    {{!-- <p>{{this.attributes.image}}</p>
    <p>{{this.attributes.wiki}}</p> --}}
    </ul>
   
  
{{/each}}

<a class="btn btn-primary text-center" href="/welcome"> Back</a>


</div>

</div>