<form action="/test-house/{{user}}" method="POST">
  <h1>HOUSE TEST</h1>
  {{#each questions}}
  <div id="quiz" class="question">
    <h3>{{this.text}}</h3>
    <ul>
      {{#each this.options}}
      <li>
        <input type="button" value="{{this.text}}" data-house="{{this.house}}" data-value="{{this.value}}" />
      </li>
      {{/each}}
    </ul>
  </div>
  {{/each}}

  <input type="hidden" name="answers" id="answers" value="" />
  <input type="submit" value="Send Results" id="submit" />
</form>

{{#if userHouse}}
  <div id="results">
    <p>You are {{userHouse}}</p>
    <img src="{{housePhoto}}" alt="{{userHouse}}" width="500" height="auto"/>
  </div>
  <a href="/profile/{{username}}">Go to Profile</a>
{{/if}}

<script>
  const answerButtons = document.querySelectorAll('input[type="button"]');
  const answersInput = document.getElementById('answers');
  const selectedAnswers = [];

  answerButtons.forEach(button => {
    button.addEventListener('click', () => {
      const house = button.getAttribute('data-house');
      const value = parseInt(button.getAttribute('data-value'), 10);
      selectedAnswers.push({ house, value });
      button.setAttribute('disabled', 'disabled');
    });
  });

  document.getElementById('submit').addEventListener('click', () => {
    answersInput.value = JSON.stringify(selectedAnswers);
  });
</script>
